html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

main {
	width: 100%;
	height: 100%;
	background-origin: content-box;
	background-position: center;
}

#ui {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 80;
	width: 100vw;
	height: 100vh;
}

#logo {
	margin-top: 10vh;
	text-align: center;
	font-size: 100px;
	color: #00a2e8;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-variant: small-caps;
	text-shadow: 1px 2px 1px #000;
}

#description {
	margin-top: 4vh;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

#start-button {
	margin-top: 4vh;
	text-align: center;
}

#startGame {
	padding: 2vh 2vw 2vh 2vw;
	font-size: 40px;
	border: none;
	background: #00a2e8;
	border-radius: 80px;
	color: #fff;
	font-weight: bold;
}

#map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	cursor: crosshair;
}

#panorama {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

#switch {
	position: fixed;
	left: 1vw;
	top: 1vh;
	padding: 1vh 1vw 1vh 1vw;
	font-size: 20px;
	background: #00a2e8;
	border-radius: 80px;
	color: #fff;
	font-weight: bold;
	z-index: 60;
}

#answer {
	position: fixed;
	right: 1vw;
	top: 1vh;
	padding: 1vh 1vw 1vh 1vw;
	font-size: 20px;
	background: #00a2e8;
	border-radius: 80px;
	color: #fff;
	font-weight: bold;
	z-index: 60;
}

#particles {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
}

#endGame {
	position: fixed;
	right: 6vw;
	bottom: 10vh;
	padding: 1vh 1vw 1vh 1vw;
	font-size: 20px;
	background: #fff;
	border-radius: 80px;
	color: #000;
	font-weight: bold;
	z-index: 60;
}

#newGame{
	position: fixed;
	right: 6vw;
	bottom: 3vh;
	padding: 1vh 1vw 1vh 1vw;
	font-size: 20px;
	background: #00a2e8;
	border-radius: 80px;
	color: #fff;
	font-weight: bold;
	z-index: 60;
}

.button {
	box-shadow: 1px 2px 1px #000;
}

/* гм фулскрин */
/*.gm-fullscreen-control {
	display: none;
}*/
/* гм стритвью */
/*.gm-svpc {
	display: none;
}*/
/* гм тип карты */
/*.gm-style-mtc {
	display: none;
}*/
/* гм масштаб */
/*.gm-bundled-control-on-bottom {
	display: none;
}*/
