<!doctype html>
<html>

<head>
	<title>GeoGame</title>
	<meta charset="utf-8">
	<link href="./img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<!-- Styles -->
	<link rel="stylesheet" href="./css/style.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
	<!-- Scripts -->
	<script src="./js/jquery-3.3.1.js"></script>
	<script src="./js/particles.js"></script>
	<script src="./js/main.js"></script>
</head>

<body>
	<main>
		<div id="ui">
			<div id="logo">
				GeoGame
			</div>
			<div id="description">
				Давайте исследовать мир!
				<br>Отправьтесь в путешествие, которое проведет Вас по всему миру!
				<br>
			</div>
			<div id="start-button">
				<button id="startGame" class="button">
					Начать игру
				</button>
			</div>
		</div>
		<div id="switch" style="display:none;" class="button">
			Карта
		</div>
		<div id="answer" style="display:none;" class="button">
			Ответить
		</div>
		<div id="endGame" style="display:none;">

		</div>
		<div id="newGame" style="display:none;" class="button">
			Новая игра
		</div>
		<div id="particles"></div>
		<div id="map"></div>
		<div id="panorama" style="display:none;"></div>
	</main>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap&language=ru"></script>
</body>

</html>